{% extends "base.html" %}

{% block content %}
    <div>
        <h1>Welcome To Share</h1>
        <p>A Safe Haven And Respite Environment</p>
    </div>


    <div>
        <img src="/static/imgs/share.png">
    </div>

    <div>
        <h2>Do you have a disabled child (aged 3 to 19)</h2>
        <p>As a registered charity we have been supporting families since 1982. We offer a wide range of opportunities for young people with disabilities . We do this through our holiday and out of school clubs with a range of fun activities within a happy safe and relaxed environment. We have a high staff ratio and are all highly qualified and CRB checked.</p>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <h3>What We Do</h3>
            <p>We’ve created activities that are fun, smart, and save the day when school is out. We have preschool and school-age programs that kids love, and we offer flexible scheduling options to meet the needs of busy families like yours.</p>
        </div>

        <div class="col-sm-4">
            <h3>How We Do It</h3>
            <p>Every child is different, but they all have one thing in common. They like to have fun! That’s why we’ve designed many different programs for summertime that are safe, conveniently located and flexible enough to work with your busy schedule.</p>
        </div>

        <div class="col-sm-4">
            <h3>Why We Do It</h3>
            <p>As a registered charity we have been supporting families since 1982. Not only will your child have a chance to be part of something they’re already interested in, they’ll have a chance to discover something brand new.</p>
        </div>
    </div>
{% endblock %}