-r settincertifi==2017.11.5
chardet==3.0.4
Django==1.11.5
django-bootstrap-forms==0.1
django-disqus==0.5
django-font-awesome==4.6.1
django-forms-bootstrap==3.1.0
funcsigs==1.0.2
gunicorn==19.4.0
idna==2.6
mock==2.0.0
pbr==3.1.1
Pillow==2.9.0
pytz==2017.2
requests==2.18.4
six==1.11.0
stripe==1.75.0
urllib3==1.22
-r requirements/staging.txt
