{% extends 'base.html' %}
{% block content %}
    <h1 class="home-header">Welcome {{ user.get_full_name }}</h1>


<!-- Forum -->
    {% if user.is_staff %}
        <div class="col-md-12">
            <h2 class="table-header">Forum Subjects</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <th class="fixed">Title</th>
                        <th>Created At</th>
                        <th></th>
                        <th></th>
                    </tr>


                    {% for post in forum_subjects %}
                        <tr>
                            <td class="fixed">{{ post }}</td>


                            <td>{{ post.created_at }}</td>

                            <td></td>
                            <td class="align-right">
                                <a href="{% url 'subject' post.id %}"><i class="glyphicon glyphicon-search" style="font-size:22px"></i></a>
                                <a href="{% url 'edit_subject' post.id %}"><i class="glyphicon glyphicon-cog" style="font-size:22px"></i></a>
                                <a href="{% url 'delete_subject' post.id %}"><i class="glyphicon glyphicon-trash" style="font-size:22px"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
<!-- /Testimonials -->

<!-- Testimonials -->
    <div class="col-md-12">
    <h2 class="table-header">My Testimonials</h2>
        <table class="table">
            <tbody>
                <tr>
                    <th class="fixed">Title</th>
                    <th>Created At</th>
                    <th></th>
                </tr>


                {% for posts in testimonialposts %}
                    <tr>
                        {% if posts.user_id == user.id  %}

                            <td class="fixed">{{ posts.title }}</td>


                            <td>{{ posts.published_date }}</td>

                            <td class="align-right">
                                <a href="{% url 'testimonials' %}"><i class="fa fa-eye" style="font-size:22px"></i></a>
                                <a href="{% url 'edit_testimonial' posts.id %}"><i class="fa fa-edit" style="font-size:22px"></i></a>
                                <a href="{% url 'delete_testimonial' posts.id %}"><i class="fa fa-trash-o" style="font-size:22px"></i></a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
<!-- /Testimonials -->

<!-- Threads -->
    <div class="col-md-12">
    <h2 class="table-header">My Threads</h2>
        <table class="table">
            <tbody>
                <tr>
                    <th class="fixed">Title</th>
                    <th>Created At</th>
                    <th></th>
                    <th>Comments</th>
                    <th></th>
                </tr>


                {% for posts in threadposts %}
                    <tr>
                        {% if posts.user_id == user.id  %}

                            <td class="fixed">{{ posts.thread }}</td>

                            <td>{{ posts.created_at }}</td>
                            <td>{{ posts.likes }}</td>
                            <td>{{ posts.comments.count }}</td>
                            <td class="align-right">
                                <a href="{% url 'view_thread' posts.subject_id posts.id %}"><i class="fa fa-eye" style="font-size:22px"></i></a>
                                <a href="{% url 'edit_thread' posts.subject_id posts.id %}"><i class="fa fa-edit" style="font-size:22px"></i></a>
                                <a href="{% url 'delete_thread' posts.subject_id posts.id %}"><i class="fa fa-trash-o" style="font-size:22px"></i></a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
<!-- /Threads -->

{% endblock %}

