{% extends 'base.html' %}
{% block content %}

    <h1>What People Are Saying About Us</h1>


        {% for post in posts %}

            <section class="testimonial_post">
                <hr>
                <div class="testimonial-header">
                    <div class="testimonial-title">
                        <h2>{{ post.title }}</h2>
                        <h3>{{ post.author }}</h3>
                        <p>{{ post.published_date }}</p>
                    </div>
                    <button type="button" class="moreButton" data-toggle="collapse" data-target="#{{ post.id }}">
                        More<span class="caret"></span>
                    </button>
                </div>
                <div id="{{ post.id }}" class="collapse">
                    <p>{{ post.content }}</p>
                </div>
            </section>

        {% endfor %}
{% endblock %}

from django.contrib.auth.models import User

User.objects.get(username=the_username).pk
