{% extends 'base.html' %}

{% block content %}

    <div class="home-header">
        <h1>Contact Us</h1>
        <p>Get in touch with us! </p>
    </div>

    <div id="map" class="col-sm-7">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2479.3931757105975!2d0.4818521157726101!3d51.57935707964701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8c41816dc3cd9%3A0xc6ad3e05829b688f!2sShare!5e0!3m2!1sen!2suk!4v1512603536567" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div id='contact' class="col-sm-5">
        <h2>Contact Details</h2>
        <ul>
            <li><p>Landline: 01268 521691</p></li>
            <li><p>Michelle (Manager): 07941557470</p></li>
            <li><p>Tricia (Deputy Manager): 07972 838070</p></li>
            <li><p>Share Session Phone: 07582 271282</p></li>
            <li><p>Email: michellewestenhofer@googlemail.com</p></li>
        </ul>
    </div>
{% endblock %}