{% extends 'base.html' %}

{% load staticfiles %}

{% block stripe_js %}
    <script type="text/javascript" src="{% static 'lib/js/crossfilter.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/d3.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/dc.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/queue.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/graph.js' %}"></script>



{% endblock %}

{% block content %}
    <h1 class="home-header">Donations</h1>
    <p></p>
{% endblock %}