{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Share Respite</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet"  type='text/css' href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css">
</head>
<body>

<!-- Nav -->
    <nav class="navbar-default navbar-fixed-top">
        <div class="container">
        <!-- Nav Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Share Respite</a>
            </div>
        <!-- /Nav Header -->

        <!-- Nav Body -->
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <!-- Account Management -->
                    {% if  user.is_authenticated %}

                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {{ user.username }}
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li><a href="{% url 'profile' %}">Profile</a></li>
                                {% if user.is_staff %}
                                    <li><a href="/admin/">Admin</a></li>
                                {% endif %}

                                <li><a href="/logout/">Logout</a></li>
                            </ul>
                        </li>

                        {% if user.is_authenticated %}
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Create New
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu">

                                    <li><a href="/testimonials/new/">Testimonial</a></li>
                                    <li><a href="">Forum Post</a></li>
                                    {% if user.is_staff %}
                                        <li><a href="/">Info Sheet</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}

                        {% else %}

                            <li><a href="{% url 'login' %}">
                                <span class="glyphicon glyphicon-user"></span>
                                Login</a></li>
                            <li><a href="{% url 'register' %}">
                                 <span class="glyphicon glyphicon-envelope"></span>
                                Register</a></li>
                    {% endif %}
                    <!-- Account Management -->
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>

                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Portal
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/forum">Forum</a></li>
                                <li><a href="">Info Sheets</a></li>
                            </ul>
                    </li>

                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            About Us
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/about-us/whats-on">Whats On</a></li>
                                <li><a href="/about-us/staff">Staff</a></li>
                                <li><a href="">Gallery</a></li>
                                <li><a href="/testimonials/">Testimonials</a></li>
                            </ul>
                    </li>

                    <li><a href="/">Contact Us</a></li>
                </ul>
            </div>
        <!-- /Nav Body -->
        </div>
    </nav>

<!-- /Nav -->

<!-- Block Content -->
    <div class="container" id="main-view">
        {% block content %}

        {% endblock %}
    </div>
<!-- /Block Content -->

<!-- Footer -->
    <footer>
        <div class="container">
            <h2>Share Children's Respite</h2>
            <p>Contact Details:</p>
            <p>07124 578 154</p>
        </div>
    </footer>
<!-- /Footer -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>


