{% extends 'base.html' %}
{% load forumextras %}
{% block content %}


    <div class="home-header">
        <h1>General Discusions</h1>
    </div>

    <div class="forum-table-wrap">
        <div class="forum-table">
            <table class="forum-table">
                <thead>
                    <tr>
                        <td></td>
                        <td>Forum Post</td>
                        <td class="counters">Threads</td>
                        <td class="counters">Comments</td>
                    </tr>
                </thead>

                <tbody>

                    {% for subject in subjects %}
                        <tr>
                            <td><i class="glyphicon glyphicon-file" style="font-size:22px" aria-hidden="true"></i></td>
                            <td><h2><a href="{% url 'subject' subject.id %}">{{ subject }}</a></h2></td>
                            <td class="counters">{{ subject.threads.count }}</td>
                            <td class="counters">{{ subject|get_total_subject_comments}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>





{% endblock %}