{% extends 'base.html' %}
{% load forumextras %}
{% block content %}


    <div class="forum-table-wrap">
        <div class="table-header">
            <h2>General Discusions</h2>
        </div>

        <div class="forum-table">
            <table class="forum-table">
                <thead class="table-head">
                    <tr>
                        <td></td>
                        <td>Forum Post</td>
                        <td>Threads</td>
                        <td>Comments</td>
                    </tr>
                </thead>

                <tbody>

                    {% for subject in subjects %}
                        <tr>
                            <td><i class="fa fa-file" aria-hidden="true"></i></td>
                            <td><h2><a href="{% url 'subject' subject.id %}">{{ subject }}</a></h2></td>
                            <td class="counters">{{ subject.threads.count }}</td>
                            <td class="counters">{{ subject|get_total_subject_comments}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>





{% endblock %}