{% extends 'base.html' %}
{% block content %}

    <div class="home-header">
        <h1>{{ subject }}</h1>
    </div>

    <div class="thread-table-wrap">
        <div class="forum-table">
            <table class="forum-table">
                <thead class="table-head">
                    <tr>
                        <td></td>
                        <td>Thread Post</td>
                        <td>Views</td>
                        <td>Comments</td>
                    </tr>
                </thead>

                <tbody>
                    {% for thread in subject.threads.all %}
                        <tr>
                            <td><i class="glyphicon glyphicon-file" aria-hidden="true"></i></td>
                            <td><h2><a href="{% url 'view_thread' subject.id thread.id %}">{{ thread }}</a></h2></td>
                            <td class="counters">{{ thread.views }}</td>
                            <td class="counters">{{ thread.comments.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <a href="{% url 'new_thread' subject.id %}" class="btn">New Thread</a>
    </div>







{% endblock content %}

