{% extends 'base.html' %}
{% block content %}




    <div class="thread-table-wrap">
        <div class="thread-table-header">
            <h2>{{ subject }}</h2>
            <button href="{% url 'new_thread' subject.id %}" class="myButton">New Thread</button>
        </div>

        <div class="forum-table">
            <table class="forum-table">
                <thead class="table-head">
                    <tr>
                        <td></td>
                        <td>Thread Post</td>
                        <td>Views</td>
                        <td>Comments</td>
                    </tr>
                </thead>

                <tbody>
                    {% for thread in subject.threads.all %}
                        <tr>
                            <td><i class="fa fa-file" aria-hidden="true"></i></td>
                            <td><h2><a href="{% url 'view_thread' subject.id thread.id %}">{{ thread }}</a></h2></td>
                            <td class="counters"></td>
                            <td class="counters">{{ thread.comments.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>




{% endblock content %}

