{% extends 'base.html' %}
{% block content %}


    <div class="thread-header">
        <h1>{{ subject }}</h1>
    </div>

    <div class="thread">
        <h2>{{ thread }}</h2>
        <p>{{ thread.description }}</p>
    </div>


    <div class="comments">

        <h2 class="comment-header">Comments</h2>

        {% for comment in thread.comments.all %}
            <div class="comment">
                <h3>{{ comment }}</h3>
                <p>{{ comment.comment }}</p>
            </div>
        {% endfor %}
    </div>

    <a class="btn" href="{% url 'new_comment' subject.id thread.id %}">Add a Comment</a>


{% endblock %}